:root {
  --title: #111729;
  --text: #4a5567;
  --bg: #f2f5f9;
  --card: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  font-style: normal;
  height: 100vh;
}

img {
  width: 100%;
}

p {
  color: var(--text);
  font-size: 1rem;
  font-weight: 400;
}

.container {
  /* border: 1px solid red; */
  border-radius: 16px;
  margin: 0 auto;
  margin-block: 40px;
  max-width: 400px;
}

.card {
  background-color: var(--card);
}
.card-header {
  position: relative;
}

.card-header img {
  border-radius: 16px 16px 0 0;
}

.card-header .card-image img {
  /* border: 1px solid blue; */
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-body {
  margin-inline: 24px;
}

.card-body h1 {
  color: var(--title);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-end: 24px;
}

.card-footer {
  align-items: center;
  display: flex;
  gap: 16px;
  margin-inline: 24px;
}

.avatar img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.description-avatar h2 {
  font-size: 1rem;
}
